{% extends 'base.html' %} {% block title %}About us{% endblock title %}
{% block body %}


<main class="text-light">
    <div class="fixed-top main-abt"></div>
    <section class="abt-01 mt-5 pt-5">
        <div class="container">
            <div class="col-12 ">
                <div class="head-01 text-center pb-5 pt-3">
                    <h1 class="heading">About Us</h1>
                </div>
                <div class="row">
                    <div class="abt-01-01 col-md-6">
                        <h2>Best Quality In Service Provider</h2>
                        <p class="sub">Since we Kicked-off, DevX is</p>
                        
                            <p>
                                Integrating miracles with
                                science.
                            </p>
                            <p>
                                Trying best and making sure to
                                depver the best.
                            </p>
                            <p>
                                Building a network for the
                                smartest people out there.
                            </p>
                            <p>
                                Serving confidential and sensitive information with security.
                            </p>
                            <p>
                                Providing the simplest solution for the most complex problem.
                            </p>
                            <p>
                                Affirming that quality is enforced, otherwise, it just won’t happen.
                            </p>
                    </div>
                    <div class="col-md-5">
                        <div class="image image-container">
                            <img src="/static/images/abt-img/About-Us.webp" loading="lazy" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="abt-02">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6  text-center">
                    <div class="item">
                                <img src="/static/images/abt-img/3.svg" loading="lazy" alt="logo">
                        <h3>Deliver the best quality</h3>
                        </div>
                </div>

                <div class="col-md-3 col-sm-6  text-center">
                    <div class="item">
                                <img src="/static/images/abt-img/4.svg" loading="lazy" alt="icon">
                        <h3>99% Uptime Guarantee</h3>
                        </div>
                </div>

                <div class="col-md-3 col-sm-6  text-center">
                    <div class="item">
                                <img src="/static/images/abt-img/1.svg" loading="lazy" alt="icon">
                        <h3>Privacy and Security</h3>
                        </div>
                </div>

                <div class="col-md-3 col-sm-6  text-center">
                    <div class="item">
                                <img src="/static/images/abt-img/2.svg" loading="lazy" alt="icon">
                        <h3>24/7 Customer Support</h3>
                        </div>
                </div>
            </div>
        </div>
    </section>

    <section class="abt-02">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 m-auto">
                    <div class="wrapper ">
                        <h1 class=" mt-5 py-3 heading text-center">Our working strategy</>
                        <h3 class="m-auto">
                            We look at your requirements from analysis to development
                        </h3>
                        <p class="mb- pt-3 sub">
                            The planning will be specifically crafted to meet your
                            project, so you can be confident of that. We use the widely
                            accepted Agile methodology. Although we adore working with
                            Scrum, our project managers are adaptable and can determine
                            the best course to take regardless of the methodology
                            employed.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row custom my-5">
                <div class="col-md-6">
                    <div class="wrapper">
                        <span>First encounter</span>
                        <div>
                            <li>
                                We examine the materials you sent us and put together a team to analyze the project.
                            </li>
                            <li>
                                We also respond to your initial inquiries and let you know what the project's
                                anticipated cost would be.
                            </li>
                            <li>
                                We want to understand your business objectives, your product vision, and the key
                                features during our initial conversation.
                            </li>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 my-5 ">
                    <div class="wrapper">
                        <div class="image image-container ">
                            <img src="/static/images/abt-img/First-Encounter.webp" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row custom">
                <div class="col-md-6">
                    <div class="wrapper">
                        <span>Establishing a backlog</span>
                        <div>
                            <li>
                                The time for more in-depth sessions will come once we have a rough idea of what needs to
                                be done.
                            </li>
                            <li>
                                These sessions will enable us to define the requirements in the form of a product
                                backlog and provide us with more precise estimates.
                            </li>
                            <li>
                                Additionally, we define the project's MVP (minimum viable product), which will enable
                                phased implementation and gradual application development.
                            </li>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 my-5 ">
                    <div class="wrapper">
                        <div class="image image-container">
                            <img src="/static/images/abt-img/Establishing-a-backing.webp" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row custom">
                <div class="col-md-6 ">
                    <div class="wrapper">
                        <span>Sprint</span>
                        <div>
                            <li>
                                We agree with you on the project's workflow and management strategy.
                            </li>
                            <li>
                                The backlog of tasks must have their implementation and sequence specified.
                            </li>
                            <li>
                                Now is the time to get prepared to begin working on your project. We spend some time
                                setting up the environment and configuring the necessary tools.
                            </li>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 my-5 ">
                    <div class="wrapper">
                        <div class="image image-container">
                            <img src="/static/images/abt-img/sprint.webp" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row custom">
                <div class="col-md-6 ">
                    <div class="wrapper">
                        <span>Development</span>
                        <div>
                            <li>
                                We remain in touch with you while adjusting flexibly to any changes.
                            </li>
                            <li>
                                This enables regular progress checks and ongoing process optimization for project
                                management.
                            </li>
                            <li>
                                Depending on the management model used, the development phase progresses differently. We
                                typically aim for Scrum's iterative work style.
                            </li>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 ">
                    <div class="wrapper">
                        <div class="image image-container">
                            <img src="/static/images/abt-img/Development.webp" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row custom">
                <div class="col-md-6 my-5 ">
                    <div class="wrapper">
                        <span>Release</span>
                        <div>
                            <li>
                                We are prepared to release the first version once the project's intended scope has been
                                completed.
                            </li>
                            <li>
                                It is possible to repeat the iteration phase that ended with the release of a version
                                multiple times.
                            </li>
                            <li>
                                More than one version of a product is typically offered when it is being created.
                                Everything is based on the strategies put in place.
                            </li>

                        </div>
                    </div>
                </div>

                <div class="col-md-6 ">
                    <div class="wrapper">
                        <div class="image image-container">
                            <img src="/static/images/abt-img/release.webp" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row custom">
                <div class="col-md-6 my-5 ">
                    <div class="wrapper">
                        <span>Project support</span>
                        <div>
                            <li>
                                Normally, after a program is released, it needs to be maintained and its security is
                                taken care of.
                            </li>
                            <li>
                                The complexity of our services guarantees that you won't be left holding the bag once
                                the project is done.
                            </li>
                            <li>
                                We provide assistance for your project, which includes adding new updates, and new
                                functionalities, and fixing mistakes as necessary.
                            </li>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 ">
                    <div class="wrapper">
                        <div class="image image-container">
                            <img src="/static/images/abt-img/project-support.webp" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

</main>




{% endblock body %}