{% extends 'base.html' %} {% block title %}Services{% endblock title %}
{% block body %}



<main class="text-light ">
    
    <div class="fixed-top main-abt"></div>

    <section class="srv-02 pt-5">
        <div class="container  pt-5">
            <div class=" heading text-center">
            <h1>Services</h1>

            </div>
            <div class="row pt-5">
                <div class="col-md-6">
                    <div class="wrapper">
                        <span>What you get while working with us?</span>
                        <h2>We here at DevX are a One-stop solution to all your innovative programming needs.</h2>
                        <p class="sub">The foundation of your product is made with an emphasis on stack flexibility, high
                            availability, and top performance in order to last for years. We solely work with
                            open-source software development technologies.</p>
                            <li>\</i>App Devs (IOS/Android)</li>
                            <li></i>UX/UI team & Graphic designers</li>
                            <li></i>Simplicity, Scalability and Customization</li>
                            <li></i>Full stack coders working with versatile frameworks</li>
                            <li></i>Multiple communication channels: Slack, Skype, e-mail
                            </li>
                            <li></i>A certified team with expertise in website development
                            </li>
                            <li></i>Regular updates, to know how your project is progressing
                            </li>
                    </div>
                </div>

                <div class="col-md-6 pt-5">
                    <div class="wrapper">
                        <div class="image image-container">
                            <img src="/static/images/abt-img/about.webp">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="bg-03 mt-5">
        <div class="container pt-5 pb-4 ">
            <div class="row  dark d-flex align-items-center">
                <div class="col-md-4 ">
                    <div class="main-head">
                        <span>Our Services</span>
                        <h2>What Services We Offer</h2>
                    </div>
                </div>
                <div class="col-md-6">
                        <p class="sub">Consider the possibilities if you had a great product team tackling your development
                            challenges. Optimize your product for thousands of new end users by migrating more data
                            and processes, reducing reaction times at the lowest cost possible.</p>
                </div>
                <div class="col-md-2">
                    <button class="bg-03-btn">
                        <a href="/contact">Get Our Services</a>
                    </button>
                </div>
            </div>



        </div>
        
        
        <div class=" services container">
            <div class="row">
                
                <div class="justify-content-center row">
                    <div class=" wtf m-3 col-sm-5 col-lg-3">
                        <div class="item card">
                            <div class=" front px-5"> <img src="/static/images/cloud.svg" alt="">
                                <p>Game Development</p>
                            </div>
                            <div class="back"><img
                                    src="/static/images/service/4695802.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class=" wtf m-3 col-sm-5 col-lg-3">
                        <div class="item card">
                            <div class=" front px-5"> <img src="/static/images/mobile-app.svg" alt="">
                                <p>App Development</p>
                            </div>
                            <div class="back"><img
                                    src="/static/images/service/mobileapp.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class=" wtf m-3 col-sm-5 col-lg-3">
                        <div class="item card">
                            <div class=" front px-5"> <img src="/static/images/programming.svg" alt="">
                                <p>Web Development</p>
                            </div>
                            <div class="back"><img
                                    src="/static/images/service/465636-PFZWE7-931.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class=" wtf m-3 col-sm-5 col-lg-3">
                        <div class="item card">
                            <div class=" front px-5"> <img src="/static/images/web-design.svg" alt="">
                                <p>Graphic Designing</p>
                            </div>
                            <div class="back"><img
                                    src="/static/images/service/2mobileapp.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class=" wtf m-3 col-sm-5 col-lg-3">
                        <div class="item card">
                            <div class=" front px-5"> <img src="/static/images/designer.svg" alt="">
                                <p>UI/UX Designing</p>
                            </div>
                            <div class="back"><img
                                    src="/static/images/service/5765411.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class=" wtf m-3 col-sm-5 col-lg-3">
                        <div class="item card">
                            <div class=" front px-5"> <img src="/static/images/seo.svg" alt="">
                                <p>SEO</p>
                            </div>
                            <div class="back"><img
                                    src="/static/images/service/296.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


{% endblock body %}
